/* Imported google fonts */

/* Cinzel  */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* Linden Hill  */
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap");

:root {
    --main-font: "Cinzel", serif;
    --small-font: "Linden Hill", serif;
    --blue: #052a75;
    --orange: #fd8f01;
    --yellow: #fdcb50;
    --pink: #fd7da0;
}
