/* Imported google fonts */

/* Cinzel  */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* Linden Hill  */
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap");

:root {
    --main-font: "Cinzel", serif;
    --small-font: "Linden Hill", serif;
    --blue: #052a75;
    --orange: #fd8f01;
    --yellow: #fdcb50;
    --pink: #fd7da0;
}

.title {
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 650;
    text-align: center;
    padding-top: 5%;
    color: var(--blue);
}

.slogan {
    font-family: var(--small-font);
    font-size: 1.3rem;
    font-weight: 550;
    text-align: center;
    color: var(--blue);
}

.button-container {
    font-family: var(--small-font);
    text-align: center;
}
